<h1>Nous vous remercions de votre inscription sur notre site communautaire Snowtricks</h1>

<p>
    Afin de valider votre inscription, merci de cliquer sur le lien suivant :  <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    A bientôt !
</p>
