{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <div id="hero">
        <div class="container slogan">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-uppercase text-blue mb-0">Enjoy mountains and snowboard</p>
                </div>
            </div>

        </div>
    </div>

    <div id="arrowsDown" class="dis-flex justify-content-center pt-3">
        <a href=#listTricks>
            <i class="fas fa-angle-double-down fa-2x text-gray-900"></i>
        </a>
    </div>

    <div id="listing">
        <div id="listingTitle" style="display:none;" class="pt-4 container text-center pb-3">
            <h1>Choississez votre trick</h1>
        </div>

        <div id="listTricks" style="display:none;" class="dis-flex flex-wrap justify-content-center">
            {{ include('trick/_listTricks.html.twig') }}
        </div>

        <div id="divLoadmore" style="display:none;" class="mb-5 dis-flex justify-content-center pb-3 pt-3 ">
            <button id="loadMore" type="button" class="btn text-uppercase text-inherit btn-dark text-white">Voir plus</button>
        </div>

        <div id="divScrollToTitle" style="display:none;" class="dis-flex justify-content-center pb-3 pt-3">
            <a href="#listingTitle">
                <i id="scrollToTitle" class="fas fa-angle-double-up fa-2x text-gray-900"></i>
            </a>
        </div>
    </div>



{% endblock %}
{% block otherScript %}
    <script>
        $(document).ready(function () {

            let offset = {{ offset }}

            $('#arrowsDown').click(function() {
                $('#listingTitle').toggle(1000)
                $("#listTricks").toggle(1000)
                $('#divLoadmore').toggle(1000)
                $('#divScrollToTitle').toggle(1000)
                $("html, body").animate({scrollTop:$('#listingTitle').offset().top}, 1000)
            });


            $('#loadMore').click(function() {

                $('#listTricks').show(1000);

                $("#divLoadmore").removeClass('pt-3 pb-3')

                $.ajax({
                    url : '/',
                    type : 'GET',
                    data : 'offset=' + offset,
                    dataType : 'json',
                    success : function(response){
                        if(response.tricks !== ""){
                            $('#listTricks').append(response.tricks)
                        }
                        if(response.hasMore == false){
                            $('#loadMore').addClass('d-none')
                        }
                        offset += 5
                    }
                });
            });



            $('#scrollToTitle').click(function() {
                $("html, body").animate({scrollTop:$('#listingTitle').offset().top}, 1000);
            });
        });

    </script>

{% endblock %}
