/* your styles go here */
.fileType {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #999999 !important;
    font-family: "Nunito", sans-serif;
}
.height40 {
    height: 40rem;
}

.imgContainer {
    object-fit: contain;
    object-position: center;
}

.height8 {
    height: 7.5rem;
}

.dis-flex {
display: flex;
}

.width-100 {
width: 100%;
}

.no-margin {
margin: unset;
}

.text-blue{
color: #2b90d9;
}

.slogan {
display: flex;
justify-content: flex-end;
padding-right: 12rem;
position: relative;
top: 20rem;
font-size: 2em;
}

.trick-container {
width: 21.25rem;
margin-right: 10px;
margin-bottom: 10px;
}

.width-trick {
width: 21.25rem;
}

.no-padding {
padding-bottom: unset!important;
padding-left: unset!important;
padding-right: unset!important;
}

.text-inherit {
font-family: inherit;
}

.margin-10 {
margin: 0 10rem;
}

.border-top {
border-top: 1px solid #dee2e6!important;
padding-top: 3rem;
margin-top: 3rem;
margin-bottom: 3rem;
}

.margin-media {
margin: 0 0.5rem 3rem 0.5rem;
}

.evenly {
justify-content: space-evenly;
}

.padding-card {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

.margin-auto {
margin-top: auto;
margin-bottom: auto;
}

.radius {
border-radius: 0.25rem;
}


@media (min-width: 1200px) {
.container {
max-width: 100% !important;
}
}
