{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick{% endblock %}

{% block body %}

    <h1 class="text-center tex ma mb-5 mt-5">Créer un nouveau trick</h1>

    <div class="container">
        <div class="row">
            <div class="mb-5 justify-content-center col-lg-12">
                   {{ include('trick/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block otherScript %}
<script src="/js/mediaManager.js"></script>
{% endblock %}
